        /* 字体 */
        @font-face{
            font-family:'myFirstFont';
            src:url('./fonts/ZaoZiGongFangYingLiHeiGuiTi-1.otf') format('truetype');
        }
        @font-face{
            font-family:'syblack';
            src:url('./fonts/NotoSansCJK-Black-7.otf') format('truetype');
        }
        @font-face{
            font-family:'syregular';
            src:url('./fonts/NotoSansCJK-Regular-1.otf') format('truetype');
        }
        @font-face{
            font-family:'sythin';
            src:url('./fonts/NotoSansCJK-Thin-2.otf') format('truetype');
        }
        
        
        
        /* 侧边栏 */
        
        
        .aside-header{
            height: 100px;
            line-height: 100px;
        }
        /* 侧边栏  欢迎***字体 */
        .aside-header p{
            font-family: 'myFirstFont';
        
            text-decoration:none;
            color:rgb(23, 55, 94);
            display: block;
            font-size: 32px;
            white-space:nowrap;
        
        }
        
        
        .link-right {
                    width: 50px;
                    height: 20%;
                    border-right: solid #ACC0D8 1px;
                }
        
        /* body背景 */
        body{
        
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('imgs/back-dark.png');
            /* background-size: percentage; */
            background-attachment: fixed;
            opacity:0.9;

        }
        
        
        /* 面包屑导航非首页深色 */
        .bread-nofirst{
            font-family: 'myFirstFont';
            font-size: 16px;
        
        color:rgb(23, 55, 94);
        }
        
        /* 面包屑导航首页浅蓝色 */
        .first-page{
            font-family: 'myFirstFont';
            font-size: 16px;
        
            color:rgb(80, 130,190);
        }
        
        /* 提交按钮渐变色 */
        .submit-button{
            /* background-color: rgb(80,130, 190); */
            /* background-image:liner-gradient(to right,red,black); */
            background-image: linear-gradient(to right,rgb(23,55,94), rgb(80,130,190), rgb(30,70,120));
            width: 70%;
        }
        .first_menu_class{
            text-decoration: none;font-family: 'myFirstFont';font-size: 24px;display: block;color: rgb(30, 70, 125);margin-top: 10px;
        
        }
        .second_menu_class{
            color: rgb(80, 130, 190);font-family: 'myFirstFont';font-size: 18px;text-decoration: none;display: block;
        }
        a:not([href]){
            color:   rgb(30, 70, 125);
        }

        /* 组名  工程A组 */
        .group_name{
            text-decoration: none;
            font-family: 'myFirstFont';
            font-size: 20px;
            display: block;
            color: black;
            margin-top: 10px;
        }

        
.boxshadow1{ 
    box-shadow:inset 0px 0px 1px 1px #000;
 }/*内阴影示例*/
 .buttontest {
    
    box-shadow:3px 3px 8px #000;
    border: black;
    border-radius: 4%;
    background-color: transparent;
    outline: 0;    
    /* //消除默认点击蓝色边框效果 */
}

/* 按组查看和按姓名查看按钮样式 */
.button_font{
    font-family: 'myFirstFont';
    font-size: 14px;
}

/* 按组查看和按姓名查看按钮选中颜色 */
.button_click_color{
    color:rgb(23, 55, 94);
}
.button_noclick_color{
    color:rgb(80, 130,190);
}
.button_nostyle{

    /* //消除button的默认样式 */
margin: 0;
padding: 0;
background-color: transparent;
border: 1px solid transparent;  
/* //自定义边框 */
outline: none;   
 /* //消除默认点击蓝色边框效果 */

}
button:focus{outline:0;}



.table_title{
    font-family:'syregular';
}
.table_text{
    font-family: 'SimHei';
}
.msg_title{
    font-family: 'SimHei';
    font-weight: bold;
    font-size: 25px;
}
.msg_text{
    font-family: 'SimHei';
    color: 	#808080;
    font-size: 25px;
}